<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Create an account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
<script>$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Статистика заказов по месяцам'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Количество выполненных'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '[[${user.login}]]',
            data: [[${data}]]
        }]
    });
});</script>
</head>
<body>

<form id="logoutForm" method="POST" th:action="@{/logout}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>
<br><button class="btn btn-primary btn-lg float-right " onclick="document.forms['logoutForm'].submit()">Logout</button><br><br>

<style>
body{background:url(https://bootstraptema.ru/images/bg/bg-1.png)}

#main {
 background-color: #f2f2f2;
 padding: 20px;
-webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 border-bottom: 4px solid #ddd;
}
#real-estates-detail #author img {
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 -ms-border-radius: 100%;
 -o-border-radius: 100%;
 border-radius: 100%;
 border: 5px solid #ecf0f1;
 margin-bottom: 10px;
}
#real-estates-detail .sosmed-author i.fa {
 width: 30px;
 height: 30px;
 border: 2px solid #bdc3c7;
 color: #bdc3c7;
 padding-top: 6px;
 margin-top: 10px;
}
.panel-default .panel-heading {
 background-color: #fff;
}
#real-estates-detail .slides li img {
 height: 450px;
}
</style>

<div class="container">
    <div id="main">
        <div class="row" id="real-estates-detail">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <header class="panel-title">
                            <div class="text-center">
                                <strong>User</strong>
                            </div>
                        </header>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" id="author">
                            <img src="https://bootstraptema.ru/snippets/element/2016/profilesection/myprofile.jpg">
                            <h3> <div th:text="${user.firstname}">Subject</div> <div th:text="${user.surname}">Subject</div></h3>
                            <small class="label label-warning">Человек</small>
                            <p>Я простой Русский пацан и мне всё по барабану.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-pills">
                            <li class="active"><a href="#detail" data-toggle="tab">О пользователе</a></li>
                            <li class=""><a href="#contact" data-toggle="tab">Статистика</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <hr>
                            <div class="tab-pane fade active in" id="detail">
                                <h4>Информация</h4>
                                <table class="table table-th-block">
                                    <tbody>
                                    <tr><td class="active">Фамилия:</td><td th:text="${user.surname}">Subject</td></tr>
                                    <tr><td class="active">Имя:</td><td th:text="${user.firstname}">Subject</td></tr>
                                    <tr><td class="active">Отчество:</td><td th:text="${user.patronymic}">Subject</td></tr>
                                    <tr><td class="active">Username:</td><td th:text="${user.login}">Subject</td></tr>
                                    <tr><td class="active">Rank:</td><td th:text="${user.rank}">Subject</td></tr>
                                    <tr><td class="active">День рождение:</td><td th:text="${user.birthDate}">Subject</td></tr>
                                    <tr><td class="active">Пол:</td><td th:text="${user.sex}">Subject</td></tr>
                                    <tr><td class="active">Авантюрист:</td><td th:text="${user.adventurer}">Subject</td></tr>
                                    <tr><td class="active">Телефон:</td><td th:text="${user.phone_number}">Subject</td></tr>
                                    <tr><td class="active">Email:</td><td th:text="${user.email}">Subject</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="contact">
                                <script src="http://code.highcharts.com/highcharts.js"></script>
                                <script src="http://code.highcharts.com/modules/exporting.js"></script>

                                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- /.main -->
</div><!-- /.container -->
</body>
</html>